// Microsoft Visual C++ generated resource script.
//
#include "resource.h"
/////////////////////////////////////////////////////////////////////////////
// ニュートラル resources

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_NEU)
LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
#pragma code_page(932)

/////////////////////////////////////////////////////////////////////////////
//
// Version
//

1 VERSIONINFO
 FILEVERSION 0,3,1,0
 PRODUCTVERSION 0,3,1,0
 FILEFLAGSMASK 0x0L
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x0L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "0800fde9"
        BEGIN
            VALUE "Comments", "TTBase Hotkey plugin"
            VALUE "FileDescription", "TTBase Hotkey plugin"
            VALUE "FileVersion", "0.3.1.0"
            VALUE "InternalName", "HotkeyCpp"
            VALUE "LegalCopyright", "Copyright (C) 2016 tapetums"
            VALUE "OriginalFilename", "HotkeyCpp"
            VALUE "ProductName", "HotkeyCpp"
            VALUE "ProductVersion", "0.3.1.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x800, 65001
    END
END

#endif    // ニュートラル resources
/////////////////////////////////////////////////////////////////////////////


/////////////////////////////////////////////////////////////////////////////
// 日本語 (日本) resources

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_JPN)
LANGUAGE LANG_JAPANESE, SUBLANG_DEFAULT
#pragma code_page(932)

#ifdef APSTUDIO_INVOKED
/////////////////////////////////////////////////////////////////////////////
//
// TEXTINCLUDE
//

1 TEXTINCLUDE 
BEGIN
    "resource.h\0"
END

2 TEXTINCLUDE 
BEGIN
    "\0"
END

3 TEXTINCLUDE 
BEGIN
    "\r\n"
    "\0"
END

#endif    // APSTUDIO_INVOKED


/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

IDD_DIALOG_EDIT DIALOGEX 0, 0, 268, 81
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
EXSTYLE WS_EX_TOOLWINDOW
CAPTION "HotkeyCpp Command Settings"
FONT 8, "Meiryo UI", 400, 0, 0x80
BEGIN
    PUSHBUTTON      "OK",IDOK,203,61,54,13
    EDITTEXT        IDC_EDIT1,43,7,42,12,ES_CENTER | ES_AUTOHSCROLL | ES_READONLY
    CONTROL         "",IDC_SPIN1,"msctls_updown32",UDS_SETBUDDYINT | UDS_ARROWKEYS,85,7,10,12
    EDITTEXT        IDC_EDIT3,43,62,156,12,ES_AUTOHSCROLL
    CONTROL         "Ctrl",IDC_CHECK1,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,135,7,27,8
    CONTROL         "Shift",IDC_CHECK2,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,167,7,27,8
    CONTROL         "Alt",IDC_CHECK3,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,196,7,27,8
    CONTROL         "Win",IDC_CHECK4,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,227,7,27,8
    LTEXT           "hotkey",IDC_STATIC,7,8,22,8
    LTEXT           "command",IDC_STATIC,7,28,32,8
    LTEXT           "param",IDC_STATIC,7,63,21,8
    PUSHBUTTON      "file...",IDC_FILE,230,26,26,12
    EDITTEXT        IDC_EDIT4,43,44,22,12,ES_CENTER | ES_AUTOHSCROLL
    CONTROL         "",IDC_SPIN2,"msctls_updown32",UDS_WRAP | UDS_SETBUDDYINT | UDS_ARROWKEYS,65,44,10,12
    LTEXT           "ID",IDC_STATIC,7,45,8,8
    EDITTEXT        IDC_EDIT5,82,45,179,12,ES_AUTOHSCROLL | ES_READONLY | NOT WS_BORDER
    EDITTEXT        IDC_EDIT6,100,8,30,12,ES_AUTOHSCROLL | ES_READONLY | NOT WS_BORDER
    COMBOBOX        IDC_COMBO1,43,26,182,12,CBS_DROPDOWN | CBS_SORT | WS_VSCROLL | WS_TABSTOP
END


/////////////////////////////////////////////////////////////////////////////
//
// DESIGNINFO
//

#ifdef APSTUDIO_INVOKED
GUIDELINES DESIGNINFO
BEGIN
    IDD_DIALOG_EDIT, DIALOG
    BEGIN
        LEFTMARGIN, 7
        RIGHTMARGIN, 261
        TOPMARGIN, 7
        BOTTOMMARGIN, 74
    END
END
#endif    // APSTUDIO_INVOKED


/////////////////////////////////////////////////////////////////////////////
//
// AFX_DIALOG_LAYOUT
//

IDD_DIALOG_EDIT AFX_DIALOG_LAYOUT
BEGIN
    0
END

#endif    // 日本語 (日本) resources
/////////////////////////////////////////////////////////////////////////////



#ifndef APSTUDIO_INVOKED
/////////////////////////////////////////////////////////////////////////////
//
// Generated from the TEXTINCLUDE 3 resource.
//


/////////////////////////////////////////////////////////////////////////////
#endif    // not APSTUDIO_INVOKED

